@model Blog.Models.Category

@{
    ViewBag.Title = "Галерия снимки";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="well">
        <font face="impact" size="5">
            <font color="#0000ff">Г</font>
            <font color="#0700f7">A</font>
            <font color="#0f00f0">Л</font>
            <font color="#1600e8">Е</font>
            <font color="#1e00e1">Р</font>
            <font color="#2500d9">И</font>
            <font color="#2d00d2">Я</font>
            <font color="#3400ca">.</font>
            <font color="#3c00c3">О</font>
            <font color="#4300bb">Т</font>
            <font color="#4b00b4">.</font>
            <font color="#5200ac">С</font>
            <font color="#5a00a5">Н</font>
            <font color="#61009d">И</font>
            <font color="#690096">М</font>
            <font color="#780087">К</font>
            <font color="#870078">И</font>
            <font color="#8e0070">.</font>
            <font color="#960069">Н</font>
            <font color="#9d0061">А</font>
            <font color="#b4004b">.</font>
            <font color="#bb0043">В</font>
            <font color="#c3003c">И</font>
            <font color="#cA0034">Т</font>
            <font color="#d2002d">О</font>
            <font color="#d90025">Ш</font>
            <font color="#e80016">А</font>
            <font color="#f0000f">.</font>
            <font color="#f70007">П</font>
            <font color="#ff0000">Л</font>
            <font color="#FF4040">А</font>
            <font color="#FF7256">Н</font>
            <font color="#F78181">И</font>
            <font color="#F5BCA9">Н</font>
            <font color="#F6CECE">А</font>
        </font>
    </div>

    <hr />
    <div class="form-horizontal">
        <div class="well">
            <div class="row">
                <article class="post col-md-3">
                    <h4>   Витоша изглед</h4>
                    <img src="~/content/preview.png" width="250" height="200" />
                </article>

                <article class="post col-md-3">
                    <h4>  Камбаните</h4>
                    <img src="~/content/alea1.jpg" width="250" height="200" />
                </article>

                <article class="post col-md-3">
                    <h4>   Княжево</h4>
                    <img src="~/content/alea3.jpg" width="250" height="200" />
                </article>

                <article class="post col-md-3">
                    <h4>  Княжево</h4>
                    <img src="~/content/alea4.jpg" width="250" height="200" />
                </article>
                <section>
                    <article class="post col-md-3">
                        <h4>Път към хижа Момина Скала</h4>
                        <img src="~/content/alea5.1.jpg" width="250" height="440" />
                    </article>
                </section>
                <section class="row">

                    <article class="post col-md-3">
                        <h4> Пътека до Тихия кът</h4>
                        <img src="~/content/alea6.jpg" width="250" height="200" />
                    </article>

                    <article class="post col-md-3">
                        <h4> Пътека към х. Звездица</h4>
                        <h4> </h4>
                        <img src="~/content/alea7.jpg" width="250" height="200" />
                    </article>

                    <article class="post col-md-2">
                        <h5>Района на х. Звездица</h5>
                        <img src="~/content/izgled.jpg" width="250" height="205" />
                    </article>

                    <article class="post col-md-3">
                        <p class="post col-md-12">
                            <h6><b>Реката</b> до х.Момина скала</h6>
                        </p>


                        <img src="~/content/reka1.jpg" width="250" height="210" />
                    </article>

                    <article class="post col-md-3">
                        <h5><b> Близо до Чуйпетлово</b></h5>

                        <img src="~/content/izgled1.jpg" width="250" height="210" />
                    </article>

                    <article class="post col-md-2">
                        <h5><b> Княжево</b></h5>

                        <img src="~/content/izgled2.jpg" width="250" height="210" />
                    </article>

                    <article class="post col-md-3">
                        <h5><b>Изглед към Плана</b></h5>

                        <img src="~/content/izgled3.jpg" width="270" height="200" />
                    </article>

                    <article class="post col-md-3">
                        <br />
                        <br />
                        <img src="~/content/izgled4.jpg" width="250" height="189" />
                    </article>

                    <article class="post col-md-3">
                        <h5><b> Пътека към х. Звездица</b></h5>

                        <img src="~/content/izgled5.jpg" width="250" height="200" />
                    </article>

                    <article class="post col-md-3">
                        <h5><b> Обсерватория Черни Връх</b></h5>

                        <img src="~/content/cherni vrah Observatoria1.jpg" width="250" height="200" />
                    </article>

                </section>
            </div>           

                        

                    
                  
                    
           <div class="form-horizontal">
               <div class="row">
                   <section class="post col-md-8">
                       <article class="post col-md-6">
                           <h5><b> Изглед от Черни Връх</b></h5>
                           <img src="~/content/cherni vrah3.jpg" width="250" height="200" />
                       </article>
                       <article class="post col-md-6">
                           <h5><b> Изглед от Черни Връх</b></h5>
                           <img src="~/content/cherni vrah7.jpg" width="250" height="200" />
                       </article>
                       <article class="post col-md-6">
                           <h5><b> Обсерватория Черни Връх</b></h5>
                           <img src="~/content/cherni vrah Observatioria2.jpg" width="250" height="200" />
                       </article>
                       <article class="post col-md-6">
                           <h5><b> Изглед от Черни Връх</b></h5>
                           <img src="~/content/cherni vrah6.jpg" width="250" height="200" />
                       </article>
                   </section>
                   
                   <aside class="post col-md-3">
                       <h5><b> Пътя към Черни Връх от х.Алеко</b></h5>
                       <img src="~/content/cherni vrah 2.jpg" width="250" height="440" />
                   </aside>
               </div>
                                   
                                 
           </div>
                
                              
            
        </div>
    </div>

}
