@model Blog.Models.Category
@{
    ViewBag.Title = "Маршрути";
}

<h2>Маршрути</h2>

<iframe src="~/Content/VitoshaMap.jpg"
         width="850" height="1485" alt="" align="left"></iframe>
       