@model Blog.Models.Category
@{
    ViewBag.Title = "Хижи";
}

<h3><b>Хижи</b> </h3>


<section class="row">

    <article class="post col-md-3">
        <h4>Хижа Звездица </h4>
        <h6>Надморска височина 1715 метра </h6>
        <h6>Хотелска част</</h6>
        <h6>Ресторант</h6>


        <iframe src="~/Content/zvezdica1.2.jpg"
                width="182" height="182" alt="" align="left"></iframe>
    </article>

    <article class="post col-md-4">
        <h4>Хижа Тинтява </h4>
        <h6>Надморска височина 1520  метра </h6>
        <h6>Хотелска част</</h6>
        <h6>Ресторант</h6>
    
        <iframe src="~/Content/Tintiava.jpg"
                width="280" height="188" alt="" align="left"></iframe>
    </article>

    <article class="post col-md-3">
        <h4>Хижа Селимица </h4>
        <h6>Надморска височина 1305  метра </h6>
        <h6>Хотелска част</</h6>
        <h6>Ресторант</h6>

        <iframe src="~/Content/Selimica.jpg"
                width="250" height="195" alt="" align="left"></iframe>
    </article>
    <article class="post col-md-4">
        <h4>Хижа Септември </h4>
        <h6>Надморска височина 1495  метра </h6>
        <h6>Хотелска част</h6>

        <iframe src="~/Content/Septemwri.jpg"
                width="355" height="188" alt="" align="left"></iframe>
    </article>
    <article class="post col-md-3">
        <h4>Хижа Погледец </h4>
        <h6>Надморска височина 1444  метра </h6>
        <h6>Хотелска част</</h6>
        

        <iframe src="~/Content/Pogledec.jpg"
                width="265" height="196" alt="" align="left"></iframe>
    </article>

    <article class="post col-md-3">
        <h4>хижа БАН </h4>
        <h6>Надморска височина 1450  метра </h6>
        <h6>Хотелска част</</h6>

        
        <iframe src="~/Content/Ban.jpg"
                width="280" height="200" alt="" align="left"></iframe>
    </article>
    
    

    

    <article class="post col-md-5">
        <h4>Хижа Есперанто </h4>
        <h6>Надморска височина 1410 метра </h6>
        <h6>Хотелска част</</h6>
        <h6>Лафка</h6>

        <iframe src="~/Content/Esperanto.jpg"
                width="405" height="305" alt="" align="left"></iframe>
    </article>

    <article class="post col-md-5">
        <h4>Хижа Родина </h4>
        <h6>Надморска височина 1560 метра </h6>
        <h6>Хотелска част</</h6>
        <h6>Ресторант</h6>

        <iframe src="~/Content/Rodina.jpg"
                width="407" height="305" alt="" align="left"></iframe>
    </article>

    <article class="post col-md-4">
        <h3>Хижа Артистите</h3>
        <h6>Надморска височина  1508 метра </h6>
        <h6>Хотелска част</</h6>
        <iframe src="~/Content/Artisti1.jpg"
                width="280" height="190" alt="" align="left"></iframe>
    </article>

    <article class="post col-md-4">
        <h4>Хижа Иглика </h4>
        <h6>Надморска височина 1181 метра </h6>
        <h4>Не работи</h4>


        <iframe src="~/Content/Iglika.jpg"
                width="252" height="210" alt="" align="left"></iframe>
    </article>
    <article class="post col-md-3">
        <h4>Хотел Копитото </h4>
        <h6>Надморска височина  1325 метра </h6>
        <h6>Хотелска част</</h6>
        <h6>Ресторант</h6>
        <iframe src="~/Content/Kopito.jpg"
                width="308" height="220" alt="" align="left"></iframe>
    </article>

    

   
    <article class="post col-md-4">
        <h4>Хижа Пейова бука</h4>
        <h6>Надморска височина  1350 метра </h6>
        <h6>Хотелска част</</h6>
        <iframe src="~/Content/PeiovaBulka1.jpg"
                width="280" height="190" alt="" align="left"></iframe>
    </article>

    <article class="post col-md-4">
        <h4>Хижа Еделвайс</h4>
        <h6>Надморска височина  1679 метра </h6>
        <h6>Хотелска част и кухня</</h6>
        
        <iframe src="~/Content/Edelvais.jpg"
                width="305" height="180" alt="" align="left"></iframe>
    </article>

    <article class="post col-md-3">
        <h4>Хижа Кумата</h4>
        <h6>Надморска височина  1725 метра </h6>
        <h6>Хотелска част</</h6>
        
        <iframe src="~/Content/Kumata.jpg"
                width="208" height="270" alt="" align="left"></iframe>
    </article>

    <article class="post col-md-4">
        <h4><span style="color:white"><u>Хижа Камен дел</u></span></h4>
        <h6><span style="color:white"><u>Надморска височина  1460  метра</u></span> </h6>
        <h6><span style="color:white"><u>Хотелска част</u></span></</h6>

        <iframe src="~/Content/KamenDel.jpg"
                width="358" height="259" alt="" align="left"></iframe>
    </article>

    <article class="post col-md-5">
        <h4><span style="color:white"><u>Хижа Белите Брези</u></span></h4>
        <h6><span style="color:white"><u>Надморска височина  925  метра</u></span> </h6>
        <h6><span style="color:white"><u>Хотелска част</u></span></</h6>

        <iframe src="~/Content/BeliBrezi.jpg"
                width="386" height="259" alt="" align="left"></iframe>
    </article>

    <article class="post col-md-4">
        <h4><span style="color:white"><u>Хижа Мотен</u></span> </h4>
        <h6><span style="color:white"><u>Надморска височина  1840  метра</u></span> </h6>
        <h6><span style="color:white"><u>Хотелска част</u></span></h6>
        <h6><span style="color:white"><u>Ресторант</u></span></h6>

        <iframe src="~/Content/Moten1.jpg"
                width="359" height="225" alt="" align="left"></iframe>
    </article>

    <article class="post col-md-4">
        <h4><span style="color:white"><u>Хижа Планинарска песен</u></span></h4>>
        <h6><span style="color:white"><u>Надморска височина  1695 метра</u></span> </h6>
        <h6><span style="color:white"><u>Хотелска част</u></span></</h6>
        <h6><span style="color:white"><u>Ресторант</u></span></h6>

        <iframe src="~/Content/Planinarska pesen1.jpg"
                width="287" height="195" alt="" align="left"></iframe>
    </article>

    <article class="post col-md-3">
        <h4><span style="color:white"><u>Хижа Борова гора</u></span> </h4>>
        <h6><span style="color:white"><u>Надморска височина  1695 метра</u></span> </h6>
        <h6><span style="color:white"><u>Хотелска част</u></span></</h6>            

            <iframe src="~/Content/BorovaGora1.jpg"
                    width="208" height="235" alt="" align="left"></iframe>
    </article>


    <article class="post col-md-4">
        <h4><span style="color:white"><u>Хотел Елица</u></span></h4>
        <h6><span style="color:white"><u>Надморска височина  1500 метра</u></span> </h6>
        <h6><span style="color:white"><u>Хотелска част</u></span></</h6>      
        <br />
        <iframe src="~/Content/Elica.jpg"
                width="265" height="195" alt="" align="left"></iframe>
    </article>

    
    <article class="post col-md-4">
       
            <h4><span style="color:white"><u>Хижа Алеко</u></span></h4>
            <h6><span style="color:white"><u>Надморска височина  1810 метра</u></span> </h6>
            <h6><span style="color:white"><u>Хотелска част и ресторант </u></span></</h6>
           
        <iframe src="~/Content/Aleko1.jpg"
                width="350" height="167" alt="" align="left"></iframe>
    </article>

    <article class="post col-md-3">

        <h4><span style="color:white"><u>Хижа Планинец</u></span></h4>
        <h6><span style="color:white"><u>Надморска височина  1616 метра</u></span> </h6>
        <h6><span style="color:white"><u>Хотелска част и ресторант</u></span></</h6>
        
        <iframe src="~/Content/Planinec1.jpg"
                width="280" height="145" alt="" align="left"></iframe>
    </article>
</section>
