@model Blog.Models.Category
@{
    ViewBag.Title = "Еmergency contacts";
}
<articleclass="post col-md-4">
    <h2>Еmergency contacts</h2>
    <h3>База "Алеко"</h3>
    <article class="post col-md-9">

        <iframe src="~/Content/Baza_Aleko.png"
                width="455" height="304" alt="" align="left"></iframe>
    </article>
    <h6 class="post col-md-5">
        <p>Разположение: намира се в съседство с хижа "Алеко"</p>           
        <p> GPS координати: 42 34 56.4N 023 17 30.7E</p>
        <p> Надморска височина: 1815 м.</p>  
        <p>Сателитна снимка от Wikimapia </p>
        <p> Денонощно дежурство: </p>
        <p>телефон: 02 / 967-11-55</p>
        <p>GSM: 088 / 14-72 </p>
        <p> База ОФЕЛИЯ" </p>
        <p>Разположение: намира се в местност Офелия </p>
        
        
        
        
       
        
        
       
        


    </h6>
</articleclass="post>
